<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/amitkumarjha/Desktop/RestAssured/RestAssuredAutomationFramework">
        <classes>
            <class name="airlines.CreateAirlinesTest">
                <methods>
                    <include name="createAirlineTest"/>
                </methods>
            </class>
            <class name="airlines.CreatePassengerByAirlineIDTest">
                <methods>
                    <include name="createPassengerByAirLineIdTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>